@{
    ViewBag.Title = "Dogs";
    var dogs = (IEnumerable<DfwLabRescue.Web.Models.Dog>)ViewBag.Dogs;
}

@section Css {
    <link rel="stylesheet" href="/assets/css/pages/portfolio-v1.css">
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Labs Who Found Their Forever Home</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Adopted Dogs</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <p class="margin-bottom-30"><span class="dropcap-bg">T</span><strong>hese wonderful labs have found their forever home, and many individuals and families have found a best friend. Join the growing number of people who are making the decision to help dogs in need and find your best friend by checking our <a href="~/dogs/available">available dogs</a> and those <a href="~/dogs/comingsoon">coming soon!</a>
        Make a difference in a lab's life and gain a companion you will never forget. Adopt a lab today!</strong></p>

    <div class="shadow-wrapper ">
        <blockquote class="hero box-shadow shadow-effect-2">
            <p><em>"It came to me that every time I lose a dog they take a piece of my heart with them, and every new dog who comes into my life gifts me
                with a piece of their heart. If I live long enough all the components of my heart will be dog, and I will become as generous and loving as they are."</em></p>
            <small><em>Anonymous</em></small>
        </blockquote>
    </div>

    <div class="headline"><h2>Adopted Dogs</h2></div>
    
    @Html.Partial("_DogPortfolio", dogs)


</div><!--/container-->
<!--=== End Content Part ===-->

@section pageJavaScript {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
}