/* Add here all your css styles (customizations) */
.da-slider{    
	background: transparent url(../img/lab.jpg) repeat 0% 0%;
}
.da-slide p.hero-paragraph {
    top: 240px;
}

.footer {
    background: #1c426f;
}

.copyright {
    background-color:#fff;
}
.copyright p {
    color: #e67e22;
}


.dummy {
    padding-top: 63%; /* 4:3 aspect ratio */
}
.dog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.dog .img-responsive{
    min-width:700px;
}