@{
    ViewBag.Title = "NotFound";
}

@section Css {
    <link rel="stylesheet" href="~/assets/css/pages/page_404_error.css">
}
<!--=== Content Part ===-->
<div class="container content">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">Forbidden</span>
                <span>Sorry! You are not authorized to view this page</span>
                <a class="btn-u btn-bordered" href="~/">Back Home</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>
<!--=== End Content Part ===-->