<div class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <!-- Home -->
        <li>
            <a href="/">
                Admin
            </a>
        </li>
    </ul>
</div><!--/navbar-collapse-->