<div class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <!-- Home -->
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <!-- End Home -->
        <!-- Dogs -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Our Labs
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/Dogs/Available">Available Dogs</a></li>
                <li><a href="~/Dogs/ComingSoon">Coming Soon</a></li>
                <li><a href="~/Dogs/PendingAdoption">Pending Adoption</a></li>
                <li><a href="~/Dogs/SpecialNeeds">Special Needs Dogs</a></li>
                <li><a href="~/Dogs/InMemoriam">In Memoriam</a></li>
                <li><a href="~/Dogs/Adopted">Adopted Dogs</a></li>
            </ul>
        </li>
        <!-- End Dogs -->
        <!-- Dogs -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Get Involved
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/Content/Foster">Foster</a></li>
                <li><a href="~/Content/Volunteer">Volunteer</a></li>
                <li><a href="~/Content/Adoption">Adoption</a></li>
                <li><a href="~/Applications/Adoption">Adoption Application</a></li>
                <li><a href="#">Think Before you Adopt</a></li>
            </ul>
        </li>
        <!-- End Dogs -->
        <!-- Dogs -->
        <li>
            <a href="~/Content/Donations">
                Donate
            </a>
        </li>
        <!-- End Dogs -->
        <!-- Dogs -->
        <li>
            <a href="javascript:void(0);">
                Stories
            </a>
        </li>
        <!-- End Dogs -->
        <!-- Dogs -->
        <li>
            <a href="javascript:void(0);">
                Events
            </a>
        </li>
        <!-- End Dogs -->
        <!-- Dogs -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Resources
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Veterinary Information</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Helpful Links</a></li>
            </ul>
        </li>
        <!-- End Dogs -->
    </ul>
</div><!--/navbar-collapse-->